COMPOSE_PROJECT_NAME=chezvoust-pro

MYSQL_DATABASE=chezvoust
MYSQL_USER=chezvoust
MYSQL_PASSWORD=change_me_locally
MYSQL_ROOT_PASSWORD=change_root_locally
MYSQL_PORT=3306

API_PORT=8080
WEB_PORT=4200
APP_ENV=local
APP_DEBUG=true
AUTO_SEED=true
APP_URL=http://localhost:8080
FRONTEND_ORIGINS=http://localhost:4200
JWT_SECRET=replace_with_at_least_64_random_characters_before_exposing_the_api
PROXY_SHARED_SECRET=replace_with_an_independent_64_character_secret_before_public_use
