APP_URL=https://app.exemplo.com.br
SSR_ALLOWED_HOSTS=app.exemplo.com.br
FRONTEND_ORIGINS=https://app.exemplo.com.br
DB_HOST=database.exemplo.com.br
DB_PORT=3306
DB_DATABASE=chezvoust_pro
DB_USERNAME=chezvoust
DB_PASSWORD=gere-uma-senha-exclusiva
MYSQL_ROOT_PASSWORD=gere-uma-senha-administrativa-exclusiva
JWT_SECRET=gere-ao-menos-64-caracteres-aleatorios
PROXY_SHARED_SECRET=gere-ao-menos-64-caracteres-aleatorios-independentes
MAIL_FROM=ChezVoust Pro <atendimento@exemplo.com.br>
RESEND_API_KEY=re_
